
[submodule "scala/scala-with-gradle"]
	path = scala/scala-with-gradle
	url = https://github.com/Shubham-Gupta3197/scala-with-gradle.git

[submodule "java/java-gradle-2"]
	path = java/java-gradle-2
	url = https://github.com/yamikarajput546/java-gradle.git
