[submodule "java/imperative-to-functional-java-code-examples"]
	path = java/imperative-to-functional-java-code-examples
	url = https://github.com/knoldus/imperative-to-functional-java-code-examples.git
